# Node modules ve npm log
node_modules/
npm-debug.log
npm-error.log

# Çalışma zamanı veri dosyaları
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE dosyaları
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db
